<div class="nav_container">
	<div style="text-align: center;">
		<a  routerLink="/home"  ><img src="assets/logo.png" alt="LOGO HERE" ></a>
	</div>
	<nav>
		<a routerLink="/home" routerLinkActive="active">Home</a>
		<a routerLink="marketplace" routerLinkActive="active">Marketplace</a>
		<a routerLink="/learning-center" routerLinkActive="active">Learning Center</a>
		<a routerLink="/news" routerLinkActive="active">News</a>
		<a routerLink="/pricing" routerLinkActive="active">Pricing</a>
	</nav>

	<footer>
		<p class="p-2 text-muted">SoftVenue - &copy;2020</p>
	</footer>
</div>